body {
    width: 100%;
    margin: 0px;
}

#projectId {
    height: 200px;
    line-height: 30px;
    border: 1px solid black;
    margin: 10px;
    font-style: normal;
    font-family: Bahnschrift;
    font-size: 15px;
}

#headerPhoto {
    height: 350px;
    width: 100%;
    background-image: url("/static/images/explore_header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.buttons {
    margin: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 225, 0);
    opacity: 1;
    transform: rotate(0deg);
    border-width: 1px;
    border-radius: 10px;
    border-color: transparent;
    border-style: solid;
    box-shadow: none;
    transition: background-color 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
    text-align: center;
    font-size: 16px;
    width: 80px;
    height: 35px;
    font-family: Arial;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 0.5px;
    float: right;
}

a {
    text-decoration: none;
    color: black;
}

.elements {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

#description {
    height: 150px;
    width: 300px;
    margin-left: 50px;
}

p {
    margin: 5px;
    font-style: normal;
    font-family: Bahnschrift;
    font-size: 20px;
}

.options:hover {
    color: black;
    background: #ffe100;
}