#rec157055403 .t396__artboard {
    height: 625px;
    background-color: #736c6c;
}

#rec157055403 .t396__filter {
    height: 625px;
    background-color: rgba(41, 34, 28, 0.5);
}

#rec157055403 .t396__carrier {
    height: 625px;
    background-position: center center;
    background-attachment: scroll;
    background-image: url('https://static.tildacdn.com/tild6538-3932-4864-b562-313339323739/-/resize/20x/traveling_bottom-125.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1199px) {
    #rec157055403 .t396__artboard {
    }

    #rec157055403 .t396__filter {
    }

    #rec157055403 .t396__carrier {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec157055403 .tn-elem[data-elem-id="1470210128180"] {
    color: #000000;
    z-index: 5;
    top: 440px;
    left: calc(50% - 600px + 505px);
    width: 190px;
}

#rec157055403 .tn-elem[data-elem-id="1470210128180"] .tn-atom {
    color: #000000;
    font-size: 18px;
    font-family: 'Arial', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 400;
    opacity: 0.2;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec157055403 .tn-elem[data-elem-id="1579964243142"] {
    color: #ffffff;
    z-index: 10;
    top: 20px;
    left: calc(50% - 600px + -40px);
    width: 310px;
}

#rec157055403 .tn-elem[data-elem-id="1579964243142"] .tn-atom {
    color: #ffffff;
    font-size: 40px;
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec157055403 .tn-elem[data-elem-id="1579964525444"] {
    color: #ffffff;
    z-index: 11;
    top: 135px;
    left: calc(50% - 600px + 470px);
    width: 260px;
}

#rec157055403 .tn-elem[data-elem-id="1579964525444"] .tn-atom {
    color: #ffffff;
    font-size: 18px;
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec157055403 .tn-elem[data-elem-id="1579964680003"] {
    color: #ffffff;
    z-index: 12;
    top: 26px;
    left: calc(50% - 600px + 980px);
    width: 170px;
}

#rec157055403 .tn-elem[data-elem-id="1579964680003"] .tn-atom {
    color: #ffffff;
    font-size: 15px;
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec157055403 .tn-elem[data-elem-id="1579841749596"] {
    z-index: 7;
    top: 178px;
    left: calc(50% - 600px + 375px);
    width: 450px;
}

#rec157055403 .tn-elem[data-elem-id="1579841749596"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
    #rec157055403 .tn-elem[data-elem-id="1579841749596"] {
        top: 229px;
        left: calc(50% - 320px + 375px);
    }
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec157055403 .tn-elem[data-elem-id="1579965793042"] {
    color: #ffffff;
    text-align: center;
    z-index: 13;
    top: 585px;
    left: calc(50% - 600px + 320px);
    width: 560px;
}

#rec157055403 .tn-elem[data-elem-id="1579965793042"] .tn-atom {
    color: #ffffff;
    font-size: 12px;
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec157055403 .tn-elem[data-elem-id="1581508098307"] {
    color: #000;
    text-align: center;
    z-index: 15;
    top: 20px;
    left: calc(50% - 600px + 1170px);
    width: 80px;
    height: 35px;
}

#rec157055403 .tn-elem[data-elem-id="1581508098307"] .tn-atom {
    color: #000;
    font-size: 16px;
    font-family: 'Arial', Arial, sans-serif;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 0.5px;
    border-width: 1px;
    border-radius: 10px;
    background-color: #ffe100;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

.tn-atom .t-input-error {
    position: absolute;
    color: red;
    background-color: #fff;
    padding: 8px 10px;
    border-radius: 2px;
    z-index: 1;
    margin-top: 5px;
    left: 0px;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.2);
}

.tn-atom .t-input-error:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 6px;
    top: -12px;
    left: 15%;
    border-bottom-color: #fff;
}

.tn-form__errorbox-close {
    height: 14px;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 14px;
    cursor: pointer;
}

.tn-form__errorbox-close-line {
    background: #fff none repeat scroll 0 0;
    height: 1px;
    left: 0;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 100%;
}

.tn-form__errorbox-close-line-left {
    transform: rotate(45deg);
}

.tn-form__errorbox-close-line-right {
    transform: rotate(-45deg);
}

.tn-atom .t-form__errorbox-wrapper, .tn-form__errorbox-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10000;
    max-width: 400px;
    min-width: 260px;
    width: auto;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    text-align: left;
    font-family: Arial, sans-serf;
    background: #F95D51;
    padding: 10px;
}

.tn-atom .js-error-control-box .t-radio__wrapper, .tn-atom .js-error-control-box .t-checkbox__control {
    padding: 3px;
    margin-top: -3px;
}

@media screen and (max-width: 480px) {
    .tn-atom .t-form__errorbox-wrapper, .tn-form__errorbox-popup {
        max-width: 280px;
    }
}

.tn-atom .t-input-error {
    position: absolute;
    color: red;
    background-color: #fff;
    padding: 8px 10px;
    border-radius: 2px;
    z-index: 1;
    margin-top: 5px;
    left: 0px;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.2);
}

.tn-atom .t-input-error:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 6px;
    top: -12px;
    left: 15%;
    border-bottom-color: #fff;
}

.tn-form__errorbox-close {
    height: 14px;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 14px;
    cursor: pointer;
}

.tn-form__errorbox-close-line {
    background: #fff none repeat scroll 0 0;
    height: 1px;
    left: 0;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 100%;
}

.tn-form__errorbox-close-line-left {
    transform: rotate(45deg);
}

.tn-form__errorbox-close-line-right {
    transform: rotate(-45deg);
}

.tn-atom .t-form__errorbox-wrapper, .tn-form__errorbox-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10000;
    max-width: 400px;
    min-width: 260px;
    width: auto;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    text-align: left;
    font-family: Arial, sans-serf;
    background: #F95D51;
    padding: 10px;
}

.tn-atom .js-error-control-box .t-radio__wrapper, .tn-atom .js-error-control-box .t-checkbox__control {
    padding: 3px;
    margin-top: -3px;
}

@media screen and (max-width: 480px) {
    .tn-atom .t-form__errorbox-wrapper, .tn-form__errorbox-popup {
        max-width: 280px;
    }
}

#rec157055403 .tn-elem[data-elem-id="1579841749596"] input::-webkit-input-placeholder {
    color: #000;
    opacity: 0.5;
}

#rec157055403 .tn-elem[data-elem-id="1579841749596"] input::-moz-placeholder {
    color: #000;
    opacity: 0.5;
}

#rec157055403 .tn-elem[data-elem-id="1579841749596"] input:-moz-placeholder {
    color: #000;
    opacity: 0.5;
}

#rec157055403 .tn-elem[data-elem-id="1579841749596"] input:-ms-input-placeholder {
    color: #000;
    opacity: 0.5;
}

#rec157055403 .tn-elem[data-elem-id="1579841749596"] textarea::-webkit-input-placeholder {
    color: #000;
    opacity: 0.5;
}

#rec157055403 .tn-elem[data-elem-id="1579841749596"] textarea::-moz-placeholder {
    color: #000;
    opacity: 0.5;
}

#rec157055403 .tn-elem[data-elem-id="1579841749596"] textarea:-moz-placeholder {
    color: #000;
    opacity: 0.5;
}

#rec157055403 .tn-elem[data-elem-id="1579841749596"] textarea:-ms-input-placeholder {
    color: #000;
    opacity: 0.5;
}

.tn-atom .t-input-block {
    position: relative;
}

@media screen and (min-width: 980px) {
    .t-records {
        opacity: 0;
    }

    .t-records_animated {
        -webkit-transition: opacity ease-in-out .2s;
        -moz-transition: opacity ease-in-out .2s;
        -o-transition: opacity ease-in-out .2s;
        transition: opacity ease-in-out .2s;
    }

    .t-records.t-records_visible {
        opacity: 1;
    }
}